@model Card

<div class="bg-white rounded-lg overflow-hidden shadow hover:shadow-lg flex-shrink-0" style="width:250px">
    <img src="@Model.Image" alt="@Model.Name" class="w-full h-48 object-cover"/>
    <div class="p-4">
        <h3 class="font-semibold text-lg">@Model.Name</h3>
    </div>
</div>